#home-page {
    min-height: inherit;
}

.header {
    background: url('./assets/img/athlete-bicycle-bicyclist-15765.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: inherit;
    margin-top: -56px;
}


.header-overlay {
   min-height: inherit;
   /*background: -webkit-linear-gradient(45deg, rgba(72, 15, 144, 0.4),rgba(0, 0, 0, 0.75) 100%);*/
   /*background: rgba(63,81,181,.7);*/
   /*background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);*/
   background: -webkit-linear-gradient(90deg, rgba(0,78,140,0.8), rgba(236,154,151,0.7) 100%);
   /*background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);*/
}

.header-body {
    color: white;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*position: relative;*/
}

#countdown {
    border-right: 2px solid white;
    transition: border-right 5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#month-unit {
    font-size: 4rem;
}

.units {
    font-size: 2rem;
    font-weight: 400;
}

.short-text {
    display: none;
}

.social-links a {
    color: rgb(129,177,255);
}

.social-links a:hover {
    color: rgb(44, 125, 255);
    
}

#home-page > div.main > div > div.row.social-links > div > a > i:hover {
    transform: translateY(-1px);
}

@media screen and (max-width: 767px) {
    #countdown {
        border: none;
    }

    .social-links {
        text-align: center;
    }

    #countdown-month-header {
        font-size: 1.7rem;
    }

    #month-unit {
        font-size: 2rem;
    }

    .units {
        font-size: 1.5rem;
        font-weight: 400;
    }

}

@media screen and (max-width: 425px) {
    .short-text {
        display: inline-block;
    }

    .full-text {
        display: none;
    }

    #countdown {
        margin-bottom: -2rem;
        margin-top: 1rem;
    }

    #countdown .row {
        justify-content: center;
    }

    #countdown, #title {
        text-align: center;
    }
}
