#submit-form {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#character-count, #warning-message {
    margin-left: 2.5rem;
}

#warning-message {
    color: #dc3545;
}



.valid-input {
    color: #28a745;
}

.invalid-input {
    color: #dc3545;
}

@media screen and (max-width: 425px) {
    #submit-form {
        box-shadow: none;
    }
}